body{
    margin: 0%;
    padding: 0%;
}

.box_header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box_search{
    background-color: #F5F5F5;
    border-radius: 20px;
    height: 40px;
    width: 393px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.box_search input {
border: none;
background-color: transparent;
outline: none;
width: 85%;
}

.box_search button{
    border: none;
    background-color: transparent;
}

.box_header_nav > button{
 color: #2A7AE4;
 background-color: transparent;
 border: 1px solid #2A7AE4;
 width: 182px;
 height: 51px;
}

.box_banner{
    display: flex;
    flex-wrap: wrap;
}
.box_banner img{
    width: 100%;
    height: 352px;
}

.box_banner_text{
    position: relative;
    bottom: 200px;
    padding-left: 5%;
}

.box_banner_text h1,h3{
color: white;
}

.box_banner_text button{
    background-color: #2A7AE4;
    color: white;
    width: 129px;
    height: 51px;
    
}

.container_start,.container_consola{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid red;
    position: relative;
    bottom: 150px;
}

.box_start_title,.box_consola_title{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.box_start_elements,.box_consola_elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    width: 70%;
    
}
.box_elements,.box_consola{
    width: 150px;
    height: 200px;
    border:1px solid red;
}

.box_elements img{
    width: 120px;
    height: 120px;
}
.box_consola img{
    width: 120px;
    height: 120px;  
}

.box_elements p{
    line-height: 15%;
}

.box_consola p{
    line-height: 15%;  
}

.container_start a {
 color: #2A7AE4;
 text-decoration: none;   
}

.container_consola a{
    color: #2A7AE4;
    text-decoration: none;     
}


